.navbar {
    background-color: #0053B8;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #64A6FA;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    background-color: #B7F2FA;
    color: #000000
}

.navbar-inverse .navbar-nav>li>a {
    color: #FFFFFF
}

.navbar-inverse .navbar-brand {
    color: #FFFFFF
}

body {
    font-family: 'Comfortaa', cursive;
}

a {
    color: #B7F2FA
}

a:hover {
    color: #D1D8DB
}