<!DOCTYPE html>
<html lang="en">

<table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('profile', username=activity.athlete.username) }}">
                    <img src="{{ activity.athlete.avatar(50) }}" class="img-thumbnail">
                </a>
            </td>
            <td>
                {% if activity.athlete == current_user %}
                <a href="{{ url_for('profile', username=current_user.username) }}">
                    You
                </a>
                {% else %}
                <a href="{{ url_for('profile', username=activity.athlete.username) }}">
                    {{ activity.athlete.username }}
                </a>
                {% endif %}
                completed {{ activity.title }}
                on {{ activity.timestamp }}
                <br>
                <span style="color:blue;font-weight:bold"> {{ activity.activity_type }}</span>
                <br>
                <span>{{ activity.distance}}KM within {{ "{0:.2f}".format(activity.duration / 3600) }} Hours</span>
            </td>
        </tr>
    </table>
</html>