<!DOCTYPE html>
<html lang="en">
<!-- -->
<!-- TODO add edit activity button if user is current user -->
<!--TODO click number of likes to show users who like -->
<!-- TODO add pop-up "are you sure you want to remove this activity?" -->

<table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('main.profile', username=activity.athlete.username) }}">
                    <img src="{{ activity.athlete.avatar(50) }}" class="img-thumbnail">
                </a>
            </td>
            <td>
                {% if activity.athlete == current_user %}
                <a href="{{ url_for('main.profile', username=current_user.username) }}">
                    You
                </a>
                {% else %}
                <a href="{{ url_for('main.profile', username=activity.athlete.username) }}">
                    {{ activity.athlete.username }}
                </a>
                {% endif %}
                completed {{ activity.title }}
                <br>
                <span>{{ activity.distance}}KM within {{ datetime.timedelta(seconds=activity.duration) }} </span>
                <br>
                <span style="color:blue;font-weight:bold"> {{ activity.activity_type }}</span>
                <br>
                <em>{{ momentjs(activity.timestamp).calendar() }}</em>

            </td>
            <td align="right">
                {% if current_user.likes_activity(activity) %}
                <a href="{{ url_for('main.like', activity_id=activity.id) }}">
                    <button class="btn btn-success"><span class="glyphicon glyphicon-thumbs-up"></span></button>
                </a>
                {% else %}
                <a href="{{ url_for('main.like', activity_id=activity.id) }}">
                    <button class="btn btn-danger"><span class="glyphicon glyphicon-thumbs-up"></span></button>
                </a>
                {% endif %}
                {% if activity.athlete == current_user %}
                <a href="{{ url_for('main.delete_activity', activity_id=activity.id) }}">
                    <button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
                </a>
                {% endif %}
                {{ activity.liked_by.count() }} like this
            </td>
        </tr>
    </table>
</html>