<!DOCTYPE html>
<html lang="en">
<!-- -->
<!-- TODO add edit activity button if user is current user -->
<!--TODO click number of likes to show users who like -->
<!-- TODO add pop-up "are you sure you want to remove this activity?" -->

<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('main.profile', username=activity.athlete.username) }}">
                <img src="{{ activity.athlete.avatar(50) }}" class="img-thumbnail">
            </a>
        </td>
        <td>
            {% if activity.athlete == current_user %}
            <a href="{{ url_for('main.profile', username=current_user.username) }}">
                You
            </a>
            {% else %}
            <a href="{{ url_for('main.profile', username=activity.athlete.username) }}">
                {{ activity.athlete.username }}
            </a>
            {% endif %}
            completed {{ activity.title }}
            <br>
            <span>{{ activity.distance}}KM within {{ datetime.timedelta(seconds=activity.duration) }} </span>
            <br>
            <span style="font-weight:bold"> {{ activity.activity_type }}</span>
            <br>
            <em>{{ momentjs(activity.timestamp).calendar() }}</em>
            <br>
            <span>{{ activity.liked_by.count() }} like this</span>

        </td>
        <td align="right">
            {% if current_user.likes_activity(activity) %}
            <a href="{{ url_for('main.like', activity_id=activity.id) }}">
                <button class="btn btn-success"><svg class="bi bi-heart" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 01.176-.17C12.72-3.042 23.333 4.867 8 15z" clip-rule="evenodd"/>
                </svg></button>
            </a>
            {% else %}
            <a href="{{ url_for('main.like', activity_id=activity.id) }}">
                <button class="btn btn-info"><svg class="bi bi-heart" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 01.176-.17C12.72-3.042 23.333 4.867 8 15z" clip-rule="evenodd"/>
                </svg></button>
            </a>
            {% endif %}
            {% if activity.athlete == current_user %}
            <a href="{{ url_for('main.delete_activity', activity_id=activity.id) }}">
                <button class="btn btn-info"><svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" clip-rule="evenodd"/>
                </svg></button>
            </a>
            {% endif %}
        </td>
    </tr>
</table>
</html>