<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}

<body>

  {% if activities %}

  <div class='row'>
    <div class="col-sm">
      <select onchange="generateChart(this.value)" class="custom-select" id="graph-selector">
        <option value="Time">Time per Activity Type</option>
        <option value="Distance">Distance per Activity Type</option>
      </select>
      <div class="ct-chart ct-perfect-fourth"></div>
      <div class="col-sm">
      
      </div>
    </div>
  </div>
  

    {% for activity in activities %}
        {% include '_activity.html' %}
    {% endfor %}
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}" class="page-link">Previous</a>
            </li>
            <li class="page-item{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}" class="page-link">Next</a>
            </li>
        </ul>
    </nav>

    {% else %}

    <h1>Welcome to Spåra!</h1>

    <p>We hope you'll enjoy using this app.</p>
    <p>To get started, upload your first activity by clicking here:</p>

    <a href="/manual_upload"><button type="button" class="btn btn-primary"> Let's spåra! </button></a>

    {% endif %}

    
</body>


<script>

var chart = generateDurationChart();

function generateChart(val) {
  if (val==="Time") {
    var chart = generateDurationChart();
  } else if (val==="Distance") {
    var chart = generateDistanceChart();
  }
}

function generateDurationChart() {
  $.post('/total_time_per_activity/{{current_user.id}}').done(function(response) {
    var data = {labels: Object.keys(response), series: [Object.values(response)]};
    return Chartist.Bar('.ct-chart', data);
    // success callback
  }).fail(function() {
    response.console.error;
    // error callback
  })
};

function generateDistanceChart() {
  $.post('/total_distance_per_activity/{{current_user.id}}').done(function(response) {
    var data = {labels: Object.keys(response), series: [Object.values(response)]};
    var options = {
      axisY: {
        offset: 60, 
        labelInterpolationFnc: function(value) {
        return value + 'km';
        }
      }
    };
    new Chartist.Bar('.ct-chart', data, options);
    // success callback
  }).fail(function() {
    response.console.error;
    // error callback
  })
};

</script>
{% endblock %}