<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}

<body>

  {% if activities %}

  <div class='row'>
    <div class="col-sm">
      <div class="ct-chart ct-perfect-fourth" id="chart1"></div>
    </div>
    <div class="col-sm">
      <div class="ct-chart ct-perfect-fourth" id="chart2"></div>
    </div>
  </div>
  

    {% for activity in activities %}
        {% include '_activity.html' %}
    {% endfor %}
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}" class="page-link">Previous</a>
            </li>
            <li class="page-item{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}" class="page-link">Next</a>
            </li>
        </ul>
    </nav>

    {% else %}

    <h1>Welcome to Spåra!</h1>

    <p>We hope you'll enjoy using this app.</p>
    <p>To get started, upload your first activity by clicking here:</p>

    <a href="/manual_upload"><button type="button" class="btn btn-primary"> Let's spåra! </button></a>

    {% endif %}

    
</body>


<script>

generateDurationChart();
generateDistanceChart();

function generateDurationChart() {
  $.post('/total_time_per_activity/{{current_user.id}}').done(function(response) {
    var data = {labels: Object.keys(response), series: [Object.values(response)]};
    new Chartist.Bar('#chart1', data);
    // success callback
  }).fail(function() {
    response.console.error;
    // error callback
  })
};

function generateDistanceChart() {
  $.post('/total_distance_per_activity/{{current_user.id}}').done(function(response) {
    var data = {labels: Object.keys(response), series: [Object.values(response)]};
    new Chartist.Bar('#chart2', data);
    // success callback
  }).fail(function() {
    response.console.error;
    // error callback
  })
};

</script>
{% endblock %}