<!DOCTYPE html>
{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}
<h2>Upload an Activity</h2>

<body>
    <form class="form form-horizontal", method="post" role="form">
        {{ form.csrf_token }}

        <div class="form-group">
            {{ wtf.form_field(form.title) }}
            {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ wtf.form_field(form.activity_type) }}
            {% for error in form.activity_type.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        
        <div class="form-group">
            {{ wtf.form_field(form.distance) }}
            {% for error in form.distance.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        
        <div class='form-group'>
            <label>Duration</label>
            <fieldset>
                {{ form.duration_hrs }}
                <small>hrs</small>
                {% for error in form.duration_hrs.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
                {{ form.duration_min }}
                <small>min</small>
                {% for error in form.duration_min.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
                {{ form.duration_sec }}
                <small>sec</small>
                {% for error in form.duration_sec.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            </fieldset>   
        </div>

        <div>{{ wtf.form_field(form.submit)}}</div>
    </form>
    <br>
</body>

{% endblock %}