<!DOCTYPE html>
{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}
<h2>Upload an Activity</h2>

<body>
    <form class="form form-horizontal", method="post" role="form">
        {{ form.csrf_token }}

        <div class="form-group">
            {{ wtf.form_field(form.title) }}
            {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ wtf.form_field(form.activity_type) }}
            {% for error in form.activity_type.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        
        <div class="form-group">
            {{ wtf.form_field(form.distance) }}
            {% for error in form.distance.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        Duration
        <div class="row">
            <div class='form-group col-md-auto'>
                {{ wtf.form_field(form.duration_hrs, class='form-control') }}   
            </div>
            <div class='form-group col-md-auto'>
                {{ wtf.form_field(form.duration_min, class='form-control') }}   
            </div>
            <div class='form-group col-md-auto'>
                {{ wtf.form_field(form.duration_sec, class='form-control') }}   
            </div>
        </div>
        

        <div>{{ wtf.form_field(form.submit)}}</div>
    </form>
    <br>
</body>

{% endblock %}