<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}

    <table class="table table-default">
        <tr valign="top">
            <td ><img src="{{ user.avatar(128) }}"></td>
            <td>
                <h1>{{ user.username }}'s Profile</h1>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}<p>Last seen: {{ momentjs(user.last_seen).fromNow() }}</p>{% endif %}
                <p>{{ user.followers.count() }} followers, {{ user.follows.count() }} following.</p>
                <p>Total Distance: {{ total_distance }}KM</p>
                <p>Total Time: {{ datetime.timedelta(seconds=total_time) }}</p>
                {% if user == current_user %}
                <a href="{{url_for('main.edit_profile')}}">
                    <button class="btn btn-info">

                    <svg class="bi bi-pencil-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z" clip-rule="evenodd"/>
                    </svg> Edit Your Profile
                </button>
                </a>

                <a href="{{url_for('main.bulk_upload')}}">
                    <button class="btn btn-info">
                    <svg class="bi bi-upload" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M.5 8a.5.5 0 01.5.5V12a1 1 0 001 1h12a1 1 0 001-1V8.5a.5.5 0 011 0V12a2 2 0 01-2 2H2a2 2 0 01-2-2V8.5A.5.5 0 01.5 8zM5 4.854a.5.5 0 00.707 0L8 2.56l2.293 2.293A.5.5 0 1011 4.146L8.354 1.5a.5.5 0 00-.708 0L5 4.146a.5.5 0 000 .708z" clip-rule="evenodd"/>
                        <path fill-rule="evenodd" d="M8 2a.5.5 0 01.5.5v8a.5.5 0 01-1 0v-8A.5.5 0 018 2z" clip-rule="evenodd"/>
                    </svg> Perform Bulk Upload</button>
                </a>

                {% elif not current_user.is_following(user) %}
                <p><a href="{{ url_for('main.follow', username=user.username) }}"><button class="btn btn-info">Follow</button></a></p>
                {% else %}
                <p><a href="{{ url_for('main.unfollow', username=user.username) }}"><button class="btn btn-danger">Unfollow</button></a></p>
                {% endif %}
            </td>

        </tr>
    </table>

    {% for activity in activities %}
        {% include '_activity.html' %}
    {% endfor %}
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}" class="page-link">Previous</a>
            </li>
            <li class="page-item{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}" class="page-link">Next</a>
            </li>
        </ul>
    </nav>

{% endblock %}